CONFIG_IP_PNP=y
CONFIG_IP_PNP_DHCP=y
CONFIG_ROOT_NFS=y
CONFIG_SUNXI_EMAC=y

CONFIG_IPV6=y

CONFIG_SOUND=n

CONFIG_INPUT_JOYDEV=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_INPUT_TOUCHSCREEN=n

CONFIG_KEYBOARD_SUN4IKEYPAD=n
CONFIG_KEYBOARD_SUN4I_KEYBOARD=n
CONFIG_KEYBOARD_HV2605_KEYBOARD=n
CONFIG_IR_SUNXI=n

CONFIG_BT=n

CONFIG_WLAN=n
CONFIG_WIRELESS=n

CONFIG_MEDIA_TUNER_TEA5761=n
CONFIG_MEDIA_TUNER_MT2063=n
CONFIG_MEDIA_TUNER_XC4000=n

CONFIG_VIDEO_CSI_SUN4I=n
CONFIG_AUDIO_ENGINE=n
CONFIG_PA_CONTROL=n

CONFIG_ANDROID=n
CONFIG_STAGING=n
